body
{
    font-family: 'Lato', sans-serif;
    background-image: url("images/image_background.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.6;
}

.logo
{
    height: 100px;
    float: left;
}

.navigation_haute
{
    text-align: right;
    font-family: "Lato";
    text-transform: uppercase;
    font-size: 120%;
    margin-top: 55px;
    margin-right: 55px;
    
}
}
header ul{
    display:inline-flex;
    float:right;
    justify-content: space-around;
    flex-direction: row;
    list-style-type: none;
    text-transform:uppercase;
    margin-top:55px;
    color:white;
    
}
h1
{
    font-family: "Lato 700";
    font-size: 300%;
    text-align: left;
    text-transform: uppercase;
}
h2
{
    font-size: 200%;
    text-align: center;
    text-transform: uppercase;
}